.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-1);
    padding-top: 10rem;
}

.head__block{
    /* font-size: 4rem; */
    text-align: center;
}
.head__block>p{
    font-size: 4rem;
    color: var(--bg-dark-1);
}


.slots{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center ;
}


.slot{
    width: 80%;
    font-size: 5rem;
    /* border: 2px solid red; */
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    /* box-shadow: 4px 7px 22px -1px rgba(0,0,0,0.75); */
    box-shadow: inset 4px 7px 22px -1px rgba(0,0,0,0.75);
    border-radius: 1rem;
    color: var(--bg-dark-1);
}